{% liquid
   assign ctpb =  '--xs-pb: 1; --lg-pb: 3.6'
%}

<div class="background-color color-{{ section.settings.color_scheme }} p-relative">
  <div class="container xs-padding-block lg-padding-block" style="{{ ctpb }}">
    <form
      class="input-show p-absolute width-100pc left-0 transition-3s"
      action="/search"
      method="get"
      role="search">
      <div class="search__box background-color d-flex align-items-center justify-center">
        <input
          class="search__main"
          style="--w-xs: 100%; --w-lg: 50%"
          type="search"
          placeholder="Search"
          name="q"
          value="{{ search.terms | escape }}">
        <button class="btn btn__icon" type="submit">
          {% render 'icon-search' %}
        </button>
      </div>
    </form>
    <div class="d-grid xs-4-column xs-gap-14 lg-gap-30 align-items-center lg-d-flex lg-justify-spacebtw">
      <div id="togglebar" class="grid__item xs-occupies-1column lg-d-none">
        <button class="btn__icon btn-toggle open d-block cursor-pointer">
          {% render 'icon-hamburger' %}
        </button>
        <button class="btn__icon btn-toggle close d-none cursor-pointer">
          {% render 'icon-close' %}
        </button>
      </div>
      <div class="grid__item xs-occupies-2column d-flex justify-center">
        <a href="{{ routes.root_url }}" class="d-grid place-item-center logo__size">
          {% if section.settings.logo != blank %}
            <img
              src="{{ section.settings.logo | image_url }}"
              alt="{{ section.settings.logo.alt }}"
              class="width-100pc height-100pc">
          {% else %}
            <span class="btn-text-color">{{ shop.name }}</span>
          {% endif %}
        </a>
      </div>
      <nav class="slide-menu p-absolute width-100pc lg-width-initial transition-3s overflow-hidden xs-h-18 lg-h-14">
        <ul class="link-list background-color d-flex flex-column list-style-none align-items-center justify-center">
          {% for link in section.settings.menu.links %}
            <li class="width-100pc lg-width-initial text-center">
              {% if link.links.size > 0 %}
                <span class="d-block p-relative lg-d-flex gap-8">
                  <a class="nav-item text-color text-decor-none" href="{{ link.url }}">
                    {{ link.title | upcase }}
                  </a>
                  <button class="btn btn__icon open-child p-absolute right-0 transition-3s" data-menu-id="{{ forloop.index0 }}">
                    {% render 'icon-next-header' %}
                  </button>
                </span>
                <ul class="js-menu-child lg-p-absolute list-style-none" data-menu-id="{{ forloop.index0 }}">
                  {% for child_link in link.links %}
                    <li class="menu-link">
                      <a class="text-color text-decor-none" href="{{ child_link.url }}">{{ child_link.title | upcase }}</a>
                      {% if child_link.links.size > 0 %}
                        <ul class="list-style-none">
                          {% for grandchild_link in child_link.links %}
                            <li class="menu-link">
                              <a class="text-decor-none" href="{{ grandchild_link.url }}">{{ grandchild_link.title | upcase }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% else %}
                <a class="nav-item text-color menu-link text-decor-none" href="{{ link.url }}">
                  {{ link.title | upcase }}
                </a>
              {% endif %}
            </li>
          {% endfor %}
          <li class="header__search d-none lg-d-flex align-items-center" onclick="toggleSearchInput()">
            <button type="button" class="btn btn__icon">
              {% render 'icon-search' %}
            </button>
            <span class="text-color text-uppercase">Search</span>
          </li>
        </ul>
      </nav>
      <div class="grid__item xs-occupies-1column">
        <div class="d-flex justify-end lg-gap-30">
          <div class="d-none lg-d-flex lg-gap-12 align-items-center xs-h-18 lg-h-14">
            <a class="text-color text-decor-none text-uppercase" href="">
              sign in
            </a>
            <a class="text-color text-decor-none text-uppercase" href="">
              create an account
            </a>
          </div>
          <div class="d-flex lg-gap-20 align-items-center jutify-end">
            <button
              type="button"
              class="lg-d-none btn btn__icon"
              onclick="toggleSearchInput()">
              {% render 'icon-search' %}
            </button>
            {% render 'icon-heart' %}
            <div class="p-relative d-flex lg-gap-11">
              <button class="btn btn__icon">
                {% render 'icon-cart' %}
              </button>
              {% if cart.item_count > 0 %}
                <div class="d-grid place-item-center p-absolute cart__count lg-d-none">
                  <span class="text-color body-text" style="--body-font-size: 1;">
                    {{ cart.item_count }}
                  </span>
                </div>
              {% endif %}
              <div class="d-none lg-d-block text-color">
                {% if cart.item_count > 0 %}
                  <span class="d-block lg-fs-12">{{ cart.item_count }} item(s)</span>
                {% else %}
                  <span class="d-block lg-fs-12">Shopping Cart</span>
                {% endif %}
                <span class="d-block lg-fs-14">
                  {{ cart.total_price | money }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "tag": "header",
    "class": "header",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "scheme_1",
        "label": "Color Scheme"
      }, {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Header Menu"
      }, {
        "type": "image_picker",
        "id": "logo",
        "label": "Image"
      }
    ]
  }
{% endschema %}