<div class="container-fluid multicollect">
  <div class="d-grid xs-4-column lg-18-column multicollect__gap lg-gap-29">
    {% for blocks in section.blocks %}
      {% case blocks.type %}
        {% when 'card1' %}
        <div class="grid__item p-relative xs-column lg-column color-{{ blocks.settings.color_scheme }}" style="--xs-cl: 1/5 ;--lg-cl: 1/10">
          <div class="card p-relative background-img background-contain rectangle-horizontal" style="--background-img: url('{{ blocks.settings.img | image_url }}')">
            <div class="background-gradient p-absolute top-0 right-0 bottom-0 width" style="--custom-width: {{ blocks.settings.color_range | append: '%'  }}"></div>
            <div class="card__body p-absolute card__body--position1 top-0 bottom-0 d-flex flex-column justify-center">
              <h3 class="xs-heading lg-heading" style="--xs-heading-fs: {{ blocks.settings.mobile_fs }}; --lg-heading: {{ blocks.settings.desktop_fs }}">
                {{ blocks.settings.header | upcase }}
              </h3>
              <p class="lg-fs-22">
                {{ blocks.settings.content }}
              </p>
              {% if blocks.settings.button != blank %}
                <div>
                  <a class="btn btn__custome btn--lg text-decor-none heading xs-mt-9 lg-mt-51" href="{{ blocks.settings.button_link }}">
                    {{ blocks.settings.button }}
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% when 'card2' %}
        <div class="grid__item p-relative xs-column lg-column lg-row color-{{ blocks.settings.color_scheme }}" style="--xs-cl: 1/5;--lg-cl: 10/19; --lg-row: 1/3">
          <div class="card p-relative height-100pc">
            <div class="card__img card__img--lg height-100pc width-100pc">
              <img
                class="width-100pc height-100pc objectfit-cover"
                src="{{ blocks.settings.img | image_url }}"
                alt="{{ blocks.settings.img.alt }}">
              <div class="color"></div>
            </div>
            <div class="card__body card__body--position2 p-absolute">
              <h3 class="xs-heading lg-heading" style="--xs-heading-fs: {{ blocks.settings.mobile_fs }}; --lg-heading: {{ blocks.settings.desktop_fs }}">
                {{ blocks.settings.header | upcase }}
              </h3>
              <p class="lg-fs-25">
                {{ blocks.settings.content }}
              </p>
              {% if blocks.settings.button != blank %}
                <div>
                  <a class="btn btn__custome btn--lg text-decor-none heading xs-mt-9 lg-mt-51" href="{{ blocks.settings.button_link }}">
                    {{ blocks.settings.button }}
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% when 'card3' %}
        <div class="grid__item p-relative xs-column lg-column color-{{ blocks.settings.color_scheme }}" style="--xs-cl: 1/5;--lg-cl: 1/10">
          <div class="background-img background-contain background-right p-relative rectangle-horizontal" style="--background-img: url('{{ blocks.settings.img | image_url }}')">
            <div class="background-gradient p-absolute top-0 left-0 bottom-0 width" style="--custom-width: {{ blocks.settings.color_range | append: '%'  }}"></div>
            <div class="p-absolute card__body--position3 top-0 bottom-0 d-flex flex-column justify-center">
              <h3 class="xs-heading lg-heading" style="--xs-heading-fs: {{ blocks.settings.mobile_fs }}; --lg-heading: {{ blocks.settings.desktop_fs }}">
                {{ blocks.settings.header | upcase }}
              </h3>
              <p class="lg-fs-22">
                {{ blocks.settings.content }}
              </p>
              {% if blocks.settings.button != blank %}
                <div>
                  <a class="btn btn__custome btn--lg text-decor-none heading xs-mt-9 lg-mt-51" href="{{ blocks.settings.button_link }}">
                    {{ blocks.settings.button }}
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endcase %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Multicollect",
    "tag": "section",
    "settings": [],
    "blocks": [
      {
        "type": "card1",
        "name": "card 1",
        "settings": [
          {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color",
            "default": "background-1"
          },
          {
            "type": "range",
            "id": "color_range",
            "min": 10,
            "max": 100,
            "step": 10,
            "unit": "%",
            "label": "Color Width",
            "default": 50
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "desktop_fs",
            "min": 4.8,
            "max": 9.6,
            "step": 0.1,
            "label": "Desktop Heading Size",
            "default": 4.8
          }, {
            "type": "range",
            "id": "mobile_fs",
            "min": 1.6,
            "max": 2.6,
            "step": 0.1,
            "label": "Mobile Heading Size",
            "default": 1.6
          }, {
            "type": "inline_richtext",
            "id": "header",
            "label": "Heading",
            "default": "Your title"
          }, {
            "type": "inline_richtext",
            "id": "content",
            "label": "content",
            "default": "Your content"
          }, {
            "type": "text",
            "id": "button",
            "label": "Button label",
            "default": "Shop now"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
        ]
      }, {
        "type": "card2",
        "name": "card 2",
        "settings": [
          {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color",
            "default": "background-1"
          },
          {
            "type": "range",
            "id": "color_range",
            "min": 10,
            "max": 100,
            "step": 10,
            "unit": "%",
            "label": "Color Width",
            "default": 50
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "desktop_fs",
            "min": 4.8,
            "max": 9.6,
            "step": 0.1,
            "label": "Desktop Heading Size",
            "default": 4.8
          }, {
            "type": "range",
            "id": "mobile_fs",
            "min": 1.6,
            "max": 2.6,
            "step": 0.1,
            "label": "Mobile Heading Size",
            "default": 1.6
          }, {
            "type": "inline_richtext",
            "id": "header",
            "label": "Heading",
            "default": "Your title"
          }, {
            "type": "inline_richtext",
            "id": "content",
            "label": "content",
            "default": "Your content"
          }, {
            "type": "text",
            "id": "button",
            "label": "Button label",
            "default": "Shop now"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
        ]
      }, {
        "type": "card3",
        "name": "card 3",
        "settings": [
          {
            "type": "color_scheme",
            "id": "color_scheme",
            "label": "Color",
            "default": "background-1"
          },
          {
            "type": "range",
            "id": "color_range",
            "min": 10,
            "max": 100,
            "step": 10,
            "unit": "%",
            "label": "Color Width",
            "default": 50
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "desktop_fs",
            "min": 4.8,
            "max": 9.6,
            "step": 0.1,
            "label": "Desktop Heading Size",
            "default": 4.8
          }, {
            "type": "range",
            "id": "mobile_fs",
            "min": 1.6,
            "max": 2.6,
            "step": 0.1,
            "label": "Mobile Heading Size",
            "default": 1.6
          }, {
            "type": "inline_richtext",
            "id": "header",
            "label": "Heading",
            "default": "Your title"
          }, {
            "type": "inline_richtext",
            "id": "content",
            "label": "content",
            "default": "Your content"
          }, {
            "type": "text",
            "id": "button",
            "label": "Button label",
            "default": "Shop now"
          }, {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }
        ]
      }
    ],
    "max_blocks": 3,
    "presets": [
      {
        "name": "Multi Collapse",
        "blocks": [
          {
            "type": "card1"
          }, {
            "type": "card2"
          }, {
            "type": "card3"
          }
        ]
      }
    ]
  }
{% endschema %}