<div class="container">
  <div class="container-scroll">
    <div class="scroll-content">
      {% for product in collections.all.products %}
        <div class="card item">
          <div class="card__img">
            <img src="{{ product.featured_image | image_url }}" alt="">
          </div>
          <div class="card__body">
            <h3>{{ product.title }}</h3>
            {% if product.compare_at_price %}
              <span class="new-price">{{ product.price | money }}</span>
              <span class="old-price">{{ product.compare_at_price | money }}</span>
            {% else %}
              <span class="">{{ product.price | money }}</span>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <button id="prev-btn">Prev</button>
    <button id="next-btn">Next</button>
  </div>
</div>

{% schema %}
  {
    "name": "Product List",
    "tag": "section",
    "settings": []
  }
{% endschema %}