{% liquid
  assign first-item = '--xs-cl: 1/5;--lg-cl: 1/5'
  assign seccond-item = '--xs-cl :1/5;--lg-cl: 5/19'
%}

<div class="container">
  <div class="d-grid xs-4-column lg-18-column xs-gap-14 lg-gap-29">
    <div class="product-filter grid__item xs-column lg-column border-right-muted" style="{{ first-item }}">
      <h2 class="product-filter__header xs-h-18 lg-h-24 colon">
        {{ section.settings.heading | upcase }}
      </h2>
      <form class="d-none lg-d-flex flex-column lg-gap-20" id="filter-form">
        {% for collection in collections %}
          {% assign collectionTitle = collection.title %}
          <div class="product-filter__form d-flex align-items-center">
            <input
              type="checkbox"
              class="filter-checkbox"
              value="{{ collection.handle }}"
              data-collection-handle="{{ collection.handle }}">
            <label class="lg-fs-14" for="checkbox">
              {{ collectionTitle }}
            </label>
          </div>
        {% endfor %}
      </form>
    </div>
    <div class="grid__item xs-column lg-column" style="{{ seccond-item }}">
      {% for collection in collections %}
        <div
          id="{{ collection.handle }}"
          class="tabcontent xs-4-column"
          style="">
          {% for product in collection.products %}
            <div class="grid__item xs-occupies-2column lg-occupies-1column">
              {% render 'product-card', product: product %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
      <div class="d-flex justify-center">
        <a href="{{ section.settings.btn_link }}" class="btn btn__grey btn--md card-body__btn-load width-100pc lg-width-initial text-decor-none">
          {{ section.settings.btn_label | upcase }}
        </a>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Product Filter",
    "tag": "section",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "label": "Heading",
        "default": "Shop Some Wear"
      }, {
        "type": "inline_richtext",
        "id": "btn_label",
        "label": "Button label",
        "default": "Load more"
      }, {
        "type": "url",
        "id": "btn_link",
        "label": "Button link"
      }
    ]
  }
{% endschema %}