<div class="p-relative oflow--hidden height--100pc">
  <div class="banner-images height--100pc d-flex">
    {% for block in section.blocks %}
      <div class="width--100pc p-relative">
        {% if block.settings.img_bg != blank %}
          <img
            src="{{ block.settings.img_bg | image_url }}"
            alt="{{ block.settings.img_bg.alt }}"
            class="bg__style objfit--cv width--100vw height--100pc">
        {%- else -%}
          {{ 'hero-apparel-3' | placeholder_svg_tag: 'placeholder-svg bg__style objfit--cv width--100vw height--100pc' }}
        {% endif %}
        <div class="container p-absolute left--0 right--0 top--0 bottom--0">
          <div class="d-grid lg-2--column xs-gap--19 mt--30">
            <div class="d-grid xs-4--column xs-gap--14 lg-order-1">
              <div class="d-flex a-item--ctr j-content--str grid__item xs-grid__span2 xs-grid__en3 xs-grid__row12 width--100pc height--100pc ml--57">
                {% if block.settings.img1 != blank %}
                  <img
                    class="bg__style objfit--cv xs-mwidth--122 rectangle__xs"
                    src="{{ block.settings.img1 | image_url }}"
                    alt="{{ block.settings.img1.alt }}">
                {% else %}
                  {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg bg__style objfit--cv xs-mwidth--122 rectangle__xs' }}
                {% endif %}
              </div>
              <div class="d-flex j-content--end grid__item xs-grid__span2 xs-grid__en5 xs-grid__row12 width--100pc height--100pc ml--n57">
                {% if block.settings.img2 != blank %}
                  <img
                    class="bg__style objfit--cv width--100pc height--100pc xs-mwidth--137 rectangle__sm"
                    src="{{ block.settings.img2 | image_url }}"
                    alt="{{ block.settings.img2.alt }}">
                {% else %}
                  {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg bg__style objfit--cv width--100pc height--100pc rectangle__sm' }}
                {% endif %}
              </div>
            </div>
            <div class="t-align--ctr">
              <h1 class="mb--14">
                {{ block.settings.heading | upcase }}
              </h1>
              {% if block.settings.button_label != blank %}
                <a href="{{ block.settings.link }}" class="btn btn-secondary btn-border--none t-decor--none padding-12-32">
                  {{ block.settings.button_label | upcase }}
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <button class="btn btn__icon btn-prev p-absolute bottom--11 left--14 z-index--1">
    {% render 'icon-prev' %}
  </button>
  <button class="btn btn__icon btn-next p-absolute bottom--11 right--14 z-index--1">
    {% render 'icon-next' %}
  </button>

  <div class="p-absolute container__dots left--0 right--0 d-flex a-item--ctr j-content--ctr gap--8">
    {% for block in section.blocks %}
      <span class="btn btn__dot" onclick="showSlide({{ forloop.index0 }})"></span>
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Slide Show",
    "tag": "section",
    "class": "banner",
    "settings": [],
    "blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "img_bg",
            "label": "Image background"
          },
          {
            "type": "image_picker",
            "id": "img1",
            "label": "Image 1"
          },
          {
            "type": "image_picker",
            "id": "img2",
            "label": "Image 2"
          },
          {
            "type": "inline_richtext",
            "id": "heading",
            "default": "Title baner",
            "label": "Heading"
          }, {
            "type": "text",
            "id": "button_label",
            "default": "Shop now",
            "label": "Button"
          }, {
            "type": "url",
            "id": "link",
            "label": "Button link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slide Show",
        "blocks": [
          {
            "type": "image"
          }, {
            "type": "image"
          }
        ]
      }
    ]

  }
{% endschema %}